.create-account{
    margin: 0px;
    height: 100%;
    .column-left{
        bottom: 0;
        margin: auto;
        height: 100%;
        background-color: #0078FF;
        .text-representative-container{
            min-height: 35%;
            position: relative;
            .text-representative{
                font-family: Helvetica Neue;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                color: rgba(129,200,230,1);
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
        }
        .img-representative-container{
            position: relative;
            .img-representative{
               max-width: 100%;
               position: absolute;
               transform: translate(-50%, 0%);
               left: 50%;
               width: 300px;
            }
        }
    }
    .column-right{
        height: 100%;
        background-color: white;
        .inscription-title{
            text-align: left;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(41,42,44,1);
        }
        .form-container{
            padding: 40px 120px 0px 120px;
        }
        .logo{
            margin: 70px 0px;
            
            img{
                height: 20px;
            }
        }
        @media screen and (max-width: 1280px) {
            .logo{
                margin: 50px 0px;
          }
          .title{
            margin-bottom: 15px;
        }
        .create-account-form-field {
            width: 100%;
            margin-bottom: 5px;
        }
        }
        .title{
            margin-bottom: 30px;
        }

        .copyright{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            color: rgba(139,140,142,1);
            position: fixed;
            bottom: 0;
            width: 66.66%;
            text-align: center;
        }
    }
    .create-account-form-field {
        width: 100%;
        margin-bottom: 40px;
    }
    .login-container{
        margin: 25px 0px;
        width: 100%;
        .btn-create-account{
        width: 100%;
        border-radius: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255,255,255,1);
        box-shadow: 0px 0px 50px#b3b3b3;
        height: 40px;
    }
    }

    .have-account{
        font-size: 12px;
        span{
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: rgba(41,42,44,1);
        }

    }
}

