.login-account{
    margin: 0px;
    height: 100%;
    .column-left{
        bottom: 0;
        margin: auto;
        height: 100%;
        background-color: white;
    
        .img-representative-container{
            position: relative;
            .img-representative{
               max-width: 100%;
               position: absolute;
               transform: translate(-50%, 0%);
               left: 50%;
               width: 300px;
            }
        }

        .logo{
            margin: 70px 0px 110px 0px;
            
            img{
                height: 20px;
            }
        }
        .login-title{
            text-align: left;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(41,42,44,1);
        }
        @media screen and (max-width: 1280px) {
            .logo{
                margin:  50px 0px 80px 0px;
          }
          .title{
            margin-bottom: 15px;
        }
        .login-account-form-field {
            width: 100%;
            margin-bottom: 10px;
        }
        }
        .title{
            margin-bottom: 40px;
        }
        .copyright{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            color: rgba(139,140,142,1);
            position: fixed;
            bottom: 0;
            width: 33.33%;
            text-align: center;
            transform: translate(-25%);
        }
    }
    .column-right{
        height: 100%;
        background-color:#0078FF;
        position: relative;
        .image-elem{
            .pricipal-image{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 100% !important;
            width: 400px;
            }
            .image-dots{
                position: absolute;
                left: 40px;
                width: 120px;
                &.dots-top{
                    top: 80px;
                }
                &.dots-bottom{
                    bottom: 0px;
                }
            }
        }
        .text-representative-container{
            position: relative;
            width: 380px;
            top: 100px;
            z-index: 99999;
            .text-representative{
                font-family: Helvetica Neue;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                color: rgba(129,200,230,1);
            }
        }

    }
    .login-account-form-field {
        width: 100%;
        margin-bottom: 20px;
    }
    .login-container{
        margin: 35px 0px;
        width: 100%;
        .btn-create-account{
        width: 100%;
        border-radius: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255,255,255,1);
        box-shadow: 0px 0px 50px#b3b3b3;
        height: 40px;
    }
    }

    .have-account{
        font-size: 12px;
        span{
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: rgba(41,42,44,1);
        }

    }
}

