<div class="form-code-verify-account">
    <form [formGroup]="formCode" (ngSubmit)="nextStep()">
        <div class="row">
            <div class="col-12 title">
                <p class="inscription-title mb-2">Vérifiez votre identité</p>
                <span class="inscription-title-detail">Nous venons de vous envoyer un</span>
                <p class="inscription-title-detail mb-4">code de vérification</p>
            </div>
            <div class="col-12">
                <div class=" group-inputs text-center mx-auto">
                    <input type="text" id="code_1" class="form-control code-generated" maxlength="1" #code1 (keyup)="fillInputCode(1, code1.value)" (keydown)="keyDownCode($event)" (drop)="dropCode($event)"
                        [ngClass]="{ 'elem-invalid': submitted && fcode.code1.errors }" formControlName="code1" (paste)="onPasteCode($event)">
                    <input type="text" id="code_2" class="form-control code-generated" maxlength="1" #code2 (keyup)="fillInputCode(2, code2.value)" (keydown)="keyDownCode($event)" (drop)="dropCode($event)"
                        [ngClass]="{ 'elem-invalid': submitted && fcode.code2.errors }" formControlName="code2">
                    <input type="text" id="code_3" class="form-control code-generated" maxlength="1" #code3 (keyup)="fillInputCode(3, code3.value)" (keydown)="keyDownCode($event)" (drop)="dropCode($event)"
                        [ngClass]="{ 'elem-invalid': submitted && fcode.code3.errors }" formControlName="code3">
                    <input type="text" id="code_4" class="form-control code-generated" maxlength="1" #code4 (keyup)="fillInputCode(4, code4.value)" (keydown)="keyDownCode($event)" (drop)="dropCode($event)"
                        [ngClass]="{ 'elem-invalid': submitted && fcode.code4.errors }" formControlName="code4">
                    <input type="text" id="code_5" class="form-control code-generated" maxlength="1" #code5 (keyup)="fillInputCode(5, code5.value)" (keydown)="keyDownCode($event)" (drop)="dropCode($event)"
                        [ngClass]="{ 'elem-invalid': submitted && fcode.code5.errors }" formControlName="code5"> 
                    <input type="text" id="code_6" class="form-control code-generated" maxlength="1" #code6 (keyup)="fillInputCode(6, code6.value)" (keydown)="keyDownCode($event)" (drop)="dropCode($event)"
                        [ngClass]="{ 'elem-invalid': submitted && fcode.code6.errors }" formControlName="code6">
                </div>
            </div>
            <div class="col-12 text-right">
                <span class="pull-right">
                    <span *ngIf="resend" class="spinner-border spinner-border-sm mr-1" style="color: #0078FF;"></span>
                    <a href="javascript:void(0)" *ngIf="!resend" (click)="resend=true;sendCode();">Renvoyer le
                        code</a>
                </span>
            </div>
        </div>
        <div class="login-container">
            <button class="btn btn-primary btn-create-account" [disabled]="loading" (click)="nextStep()"><span
                    *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>&nbsp;
                <span>Valider</span>
            </button>
        </div>
        <div>
            <p><a *ngIf="step == 3" [routerLink]="['/users/login']">Connexion</a></p>
        </div>
    </form>
</div>