<div class="row" class="profile-section-settings">
    <div class="col-12">
        <div class="title">
            <span class="text"> Profil utilisateur </span>&nbsp;
            <img src="../../../assets/images/profile/draw.svg" class="edit-pen" (click)="displayFormFn()">
        </div>
    </div>
    <div class="col-12 displayed-data" *ngIf="!displayForm">
        <div class="row">
            <div class="col-md-3">
                <span class="label-data">Nom</span>
                <span class="value-data">{{user.lastName | uppercase }}</span>
            </div>
            <div class="col-md-3">
                <span class="label-data">Prénom</span>
                <span class="value-data">{{user.firstName}}</span>
            </div>
            <div class="col-md-3">
                <span class="label-data">Compagnie</span>
                <span class="value-data">{{user.profile.company_name}}</span>
            </div>
            <div class="col-md-3">
                <span class="label-data">Position/poste dans l'entreprise</span>
                <span class="value-data">{{user.profile.function}}</span>
            </div>
            <div class="col-md-3">
                <span class="label-data">Ville</span>
                <span class="value-data">{{user.profile.city}}</span>
            </div>
            <div class="col-md-3">
                <span class="label-data">Code postale</span>
                <span class="value-data">{{user.profile.postalCode}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 " *ngIf="displayForm">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="create-account-form-field ">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="lastName"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    </mat-form-field>
                    <mat-hint *ngIf="submitted && f.lastName.errors">
                        <ng-container *ngFor="let error of error_messages.lastName">
                            <div class="error-message text-danger" *ngIf="f.lastName.hasError(error.type)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </mat-hint>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="create-account-form-field ">
                        <mat-label>Prénom</mat-label>
                        <input matInput type="text" formControlName="firstName"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">

                    </mat-form-field>
                    <mat-hint *ngIf="submitted && f.firstName.errors">
                        <ng-container *ngFor="let error of error_messages.firstName">
                            <div class="error-message text-danger" *ngIf="f.firstName.hasError(error.type)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </mat-hint>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="create-account-form-field ">
                        <mat-label>Nom de compagnie</mat-label>
                        <input matInput type="text" formControlName="companyName"
                            [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">

                    </mat-form-field>
                    <mat-hint *ngIf="submitted && f.companyName.errors">
                        <ng-container *ngFor="let error of error_messages.companyName">
                            <div class="error-message text-danger" *ngIf="f.companyName.hasError(error.type)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </mat-hint>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="create-account-form-field ">
                        <mat-label>Position/poste dans l'entreprise</mat-label>
                        <input matInput type="text" formControlName="function"
                            [ngClass]="{ 'is-invalid': submitted && f.function.errors }">

                    </mat-form-field>
                    <mat-hint *ngIf="submitted && f.function.errors">
                        <ng-container *ngFor="let error of error_messages.function">
                            <div class="error-message text-danger" *ngIf="f.function.hasError(error.type)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </mat-hint>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="create-account-form-field ">
                        <mat-label>Ville</mat-label>
                        <input matInput type="text" formControlName="city"
                            [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    </mat-form-field>
                    <mat-hint *ngIf="submitted && f.city.errors">
                        <ng-container *ngFor="let error of error_messages.city">
                            <div class="error-message text-danger" *ngIf="f.city.hasError(error.type)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </mat-hint>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="create-account-form-field ">
                        <mat-label>Code postale</mat-label>
                        <input matInput type="text" formControlName="postalCode"
                            [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }">
                    </mat-form-field>
                    <mat-hint *ngIf="submitted && f.postalCode.errors">
                        <ng-container *ngFor="let error of error_messages.postalCode">
                            <div class="error-message text-danger" *ngIf="f.postalCode.hasError(error.type)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </mat-hint>
                </div>
            </div>
            <div class="login-container">
                <button class="btn btn-primary btn-create-account pull-right" [disabled]="loading"><span *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"></span>&nbsp;Sauvegarder</button>
                <button class="btn btn-default btn-cancel-account" type="button" [disabled]="loading" (click)="reinitializeData()">&nbsp;Annuler</button>
            </div>
        </form>
    </div>
</div>