.alert{
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 0px 0px 20px blue;
    z-index: 999999999999;
    width: auto;
    .alert-content{
        margin-right: 10px;
    }
    .close{
        cursor: pointer;
    }
}