<div class="row" class="language-section-settings">
    <div class="col-12">
        <div class="title">
            <span class="text"> paramétrage </span>&nbsp;
            <img src="../../../assets/images/profile/draw.svg" class="edit-pen">
        </div>
    </div>
    <div class="col-12 displayed-data">
        <div class="row">
            <div class="col-md-4">
                <span class="label-data">Langue</span>
                <span class="value-data-blue">Français</span>
            </div>
        </div>
    </div>
</div>