<div class="row create-account">
    <div class="col-12 col-md-4 column-left">
        <div class="text-representative-container">
            <p class="text-representative">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="img-representative-container">
            <img class="img-representative" src="../../../assets/images/create-account/image-right-create-account.svg">
        </div>
    </div>
    <div class="col-12 col-md-8 column-right">
        <div class="form-container row" *ngIf="step == 1">
            <div class="col-md-1 col-12"></div>
            <div class="col-md-10 col-12">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-12 logo">
                            <img src="../../../assets/images/create-account/logo-datapex.svg">
                        </div>

                        <div class="col-12 title">
                            <p class="inscription-title">Inscription</p>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="create-account-form-field ">
                                <mat-label>Nom de compagnie</mat-label>
                                <input matInput type="text" formControlName="companyName"
                                    [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">

                            </mat-form-field>
                            <mat-hint *ngIf="submitted && f.companyName.errors">
                                <ng-container *ngFor="let error of error_messages.companyName">
                                    <div class="error-message text-danger" *ngIf="f.companyName.hasError(error.type)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </mat-hint>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="create-account-form-field">
                                <input type="text" placeholder="Ville" aria-label="City" matInput
                                    [formControl]="f.city" [matAutocomplete]="autocity">
                                <mat-autocomplete #autocity="matAutocomplete">
                                    <mat-option *ngFor="let city of filteredCities"
                                        [value]="city.name">
                                        <span>{{ city.name }}</span>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-hint *ngIf="submitted && f.city.errors">
                                <ng-container *ngFor="let error of error_messages.city">
                                    <div class="error-message text-danger" *ngIf="f.city.hasError(error.type)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </mat-hint>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="create-account-form-field ">
                                <mat-label>Nom</mat-label>
                                <input matInput type="text" formControlName="lastName"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                            </mat-form-field>
                            <mat-hint *ngIf="submitted && f.lastName.errors">
                                <ng-container *ngFor="let error of error_messages.lastName">
                                    <div class="error-message text-danger" *ngIf="f.lastName.hasError(error.type)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </mat-hint>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="create-account-form-field ">
                                <mat-label>Prénom</mat-label>
                                <input matInput type="text" formControlName="firstName"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">

                            </mat-form-field>
                            <mat-hint *ngIf="submitted && f.firstName.errors">
                                <ng-container *ngFor="let error of error_messages.firstName">
                                    <div class="error-message text-danger" *ngIf="f.firstName.hasError(error.type)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </mat-hint>
                        </div>
                        
                        <div class="col-md-6">
                            <mat-form-field class="create-account-form-country-field">
                                <input type="text" placeholder="Code" aria-label="Country" matInput
                                    [formControl]="f.country" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let country of filteredCountries | async"
                                        [value]="country.code +'|'+ country.dial_code">
                                        <span>{{ country.code }}</span> |
                                        <small>({{ country.dial_code }})</small>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field class="create-account-form-phone-field ">
                                <mat-label>Numéro de téléphone</mat-label>
                                <input matInput type="text" formControlName="phone"
                                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                            </mat-form-field>
                            <mat-hint *ngIf="submitted && f.phone.errors">
                                <ng-container *ngFor="let error of error_messages.phone">
                                    <div class="error-message text-danger" *ngIf="f.phone.hasError(error.type)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </mat-hint>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="create-account-form-field ">
                                <mat-label>Adresse email</mat-label>
                                <input matInput type="text" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            </mat-form-field>
                            <mat-hint *ngIf="submitted && f.email.errors">
                                <ng-container *ngFor="let error of error_messages.email">
                                    <div class="error-message text-danger" *ngIf="f.email.hasError(error.type)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </mat-hint>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="create-account-form-field ">
                                <mat-label>Mot de passe</mat-label>
                                <input matInput type="password" formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            </mat-form-field>
                            <mat-hint *ngIf="submitted && f.password.errors">
                                <ng-container *ngFor="let error of error_messages.password">
                                    <div class="error-message text-danger" *ngIf="f.password.hasError(error.type)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </mat-hint>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="create-account-form-field ">
                                <mat-label>Confirmer le mot de passe</mat-label>
                                <input matInput type="password" formControlName="passwordVerif"
                                    [ngClass]="{ 'is-invalid': submitted && f.passwordVerif.errors }">
                            </mat-form-field>
                            <mat-hint *ngIf="submitted && f.passwordVerif.errors">
                                <ng-container *ngFor="let error of error_messages.passwordVerif">
                                    <div class="error-message text-danger" *ngIf="f.passwordVerif.hasError(error.type)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </mat-hint>
                        </div>
                    </div>
                    <div class="login-container">
                        <button class="btn btn-primary btn-create-account" [disabled]="loading"><span *ngIf="loading"
                                class="spinner-border spinner-border-sm mr-1"></span>&nbsp;Inscription</button>
                    </div>
                    <div>
                        <p class="have-account"><span>Vous avez déjà un compte ? &nbsp;</span> <a
                                [routerLink]="['../login']">Connexion</a></p>
                    </div>
                </form>
            </div>
            <div class="col-md-1 col-12"></div>
        </div>
        <div class="form-container row" *ngIf="step >= 2">
            <div class="col-md-1 col-12"></div>
            <div class="col-md-10 col-12">
                <div class="logo">
                    <img src="../../../assets/images/create-account/logo-datapex.svg">
                </div>
                <div class="row">
                    <div class="col-md-2 col-12"></div>
                    <div class="col-md-8 col-12 text-center">
                        <app-verify-account [phoneNumberIntroduced]="phoneNumber"
                            (codeEmitter)="getIntroducedCode($event)" *ngIf="step == 2"></app-verify-account>
                        <div class="row step4" *ngIf="step == 3">
                            <div class="col-12 text-center">
                                <img src="../../../assets/images/forgotpassword/treatementcompleted.svg">
                            </div>
                            <div class="col-12 title">
                                <p class="inscription-title-detail mb-4">Votre compte a été confirmé avec succès!
                                </p>
                            </div>
                        </div>
                        <div class="login-container" *ngIf="step == 3">
                            <button class="btn btn-primary btn-create-account" [routerLink]="['/users/login']"><span
                                    *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>&nbsp;
                                <span>Connexion</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2 col-12"></div>
                </div>
            </div>
            <div class="col-md-1 col-12"></div>
        </div>
        <div class="copyright"><span>© Copyright Datapex 2020, All right reserved</span></div>
    </div>
</div>