<div class="d-flex" id="wrapper" [ngClass]="{'toggled' : toggled}" *ngIf="user">
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <img class="logo-image" src="../assets/images/sidebar/logo.svg">
            <div class="profiledetailsexapnded">
                <div class="navbar-nav ml-auto mt-2 mt-lg-0 d-flex">
                    <div class="nav-item active text-center">
                        <a class="nav-link" href="#">
                            <img class="defaultuser" src="../assets/images/defaultuser.png">
                        </a>
                    </div>
                    <div class="nav-item profile-details-exapnded text-center">
                        <div class="d-flex-centered">
                            <a class="popupaction d-flex" *ngIf="user?.id"  (click)="gotoProfile()">{{ user.firstName }} {{ user.lastName }}</a>
                        </div> 
                        <div class="d-flex-centered">
                            <a class="popupaction d-flex" (click)="logout()">
                                <mat-icon>settings_power</mat-icon>&nbsp;Se déconnecter
                            </a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">

                    </div>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush">
            <!-- items -->
            <div class="list-group-item active d-flex" [routerLink]="['/']">
                <img class="icon" src="../assets/images/sidebar/house-black-silhouette-without-door (2).svg">
                &nbsp; <span class="text-item">Accueil</span>
            </div>
            <div class="space-menu"></div>
            <div class="list-group-item  d-flex">
                <img class="icon" src="../assets/images/sidebar/house-black-silhouette-without-door (2).svg">&nbsp;
                <span class="text-item">Analyse statistique</span>
            </div>
            <div class="space-menu"></div>
            <div class="list-group-item  d-flex">
                <img class="icon" src="../assets/images/sidebar/house-black-silhouette-without-door (2).svg">&nbsp;
                <span class="text-item">Liens entre les colonnes</span>
            </div>
            <div class="space-menu"></div>
            <div class="list-group-item  d-flex">
                <img class="icon" src="../assets/images/sidebar/house-black-silhouette-without-door (2).svg">&nbsp;
                <span class="text-item">Analyse avancée</span>
            </div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light  ">
            <div class="nav-content">
                <div class="container-bars" [ngClass]="{'change' : !toggled}" (click)="toggled = !toggled">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div class="pull-right profiledetailsexapnded text-right" >
                    <img class="" src="../assets/images/sidebar/logo-right.svg">
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="menu d-flex">
                        <div class="menu-item">
                            <span>
                                Home
                            </span>
                        </div>
                        <div class="menu-item">
                            <span>
                                Home
                            </span>
                        </div>
                        <div class="menu-item">
                            <span>
                                Home
                            </span>
                        </div>
                        <div class="menu-item">
                            <span>
                                Home
                            </span>
                        </div>
                    </div>
                    <div class="navbar-nav ml-auto mt-2 mt-lg-0 d-flex">
                        <div class="nav-item active first-nav-item">
                            <a class="nav-link" href="#">
                                <img class="defaultuser" src="../assets/images/defaultuser.png">
                            </a>
                        </div>
                        <div class="nav-item profile-details">
                            <div class="absolute-elem">
                                <a class="nav-link name"  (click)="gotoProfile()" *ngIf="user?.id">{{ user.firstName }} {{ user.lastName }}</a>
                                <div class="nav-link expand_more popup"
                                    (click)="togglePopupProfile = !togglePopupProfile;" clickOutside
                                    (clickOutside)="togglePopupProfile = false">
                                    <mat-icon>expand_more</mat-icon>
                                    <div class="popuptext" [ngClass]="{'show' : togglePopupProfile}">
                                        <a class="popupaction d-flex"  (click)="gotoProfile()" >
                                            <mat-icon>account_box</mat-icon>&nbsp;Mon profil
                                        </a>
                                        <a class="popupaction d-flex" (click)="logout()">
                                            <mat-icon>settings_power</mat-icon>&nbsp;Se déconnecter
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item dropdown">

                        </div>
                    </div>
                </div>

            </div>
        </nav>
        

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>