.main-page{
    
.welcome-text{
    margin: 0px 35px;
    padding-bottom: 15px;
    .welcome-text-content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: rgba(0,14,43,1);
        .username{
            font-weight: bold;
        }
    }
}
}