.main-page{
    margin: 0px 35px;
.welcome-text{
    padding-bottom: 15px;
    .welcome-text-content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: rgba(0,14,43,1);
        .username{
            font-weight: bold;
        }
    }
}

.files{
    .files-title{
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: rgba(98,98,98,1);
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 76px
    }
    .files-content{
        min-height: 110px;
        position: relative;
        .input-file-customized{
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .input-file-container{
            width: 100%;
            .button-input-file-container{
            .button-input-file{
                position: relative;
                width: 100%;
                text-align: center;
                .rectangle{
                    max-width: 100%;
                    cursor: pointer;
                    width: 310px;
                }
                .uploaddata{
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .uploadicon{
                        width: 30px;
                    }
                    .text-container{
                        margin-left: 30px;
                        margin-top: 12px;
                        .title{
                            text-align: left;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            color: rgba(0,120,255,1);
                            margin: 0px;
                        }
                        .sizenb{
                            text-align: left;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            color: rgba(0,120,255,1);
    
                        }
                    }
                    
                }
            } 
            }

        }
    }
}
.rapid-access{
    margin: 20px 0px;
    .rapid-access-title{
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: rgba(98,98,98,1);
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 76px
    }
    .container-file-active{
        
        position: relative;
        .title-file-active{
            position: absolute;
            top: 24%;
            left: 14%;
            .title-text-file-active{
                white-space: nowrap;
                line-height: 10px;
                text-align: left;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                color: rgba(255,255,255,1);
            }
        }

        .details-file-active{
            position: absolute;
            bottom: 10%;
            left: 14%;
            .details-1-file-active{
                white-space: nowrap;
                line-height: 10px;
                text-align: left;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                color: rgba(255,255,255,1);
                text-transform: uppercase;
            }
            .details-2-file-active{
                white-space: nowrap;
                line-height: 10px;
                text-align: left;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 8px;
                color: rgba(132,186,245,1);
                text-transform: uppercase;
            }
        }
    }

    .container-file{
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
    }
    .img-access-rapid{
        max-width: 100%;
        width: 227px;
        
    }
}

.progress-container{
    &.clicked-progress-bar{
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
    .progress-bar-element{
        background-image: linear-gradient(-90deg,#77B3F5, #0078FF);
    }
    height: 50px;
    border-radius: 30px;
    position: relative;
    .loading-text{
        color: white;
        position: absolute;
        top: 50%;
        left: 20px;
    }
    .clicked-text{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .absolute-warning{
        color: red;
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0px, -50%);
    }

    .absolute-redo{
        color: red;
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(0px, -50%);
        cursor: pointer;
    }
}
}