<div class="main-page" *ngIf="user">
    <div class="welcome-text border-bottom">
        <span class="welcome-text-content">
            Bienvenue à nouveau, <span class="username" *ngIf="user?.id" routerLink="/main/profile"
                routerLinkActive="active">{{ user.firstName }}!</span>
        </span>
    </div>
    <div class="files">
        <p class="files-title">FICHIER</p>
        <div class="files-content" *ngIf="!uploading && !uploadSuccess">
            <input type="file" #myInput (change)="upload($event.target.files)" class="input-file-customized" id="file"
                name="file"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <label class="input-file-container" for="file">
                <div class="button-input-file-container">
                    <div class="button-input-file">
                        <img src="../../assets/images/main-page/rectangle-input.svg" class="rectangle">
                        <div class="uploaddata d-flex justify-content-center">
                            <img src="../../assets/images/main-page/upload.svg" class="uploadicon">
                            &nbsp;
                            <div class="text-container">
                                <p class="title">Upload your csv file</p>
                                <p class="sizenb">Max 500 Mo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <div class="files-content" *ngIf="uploading || uploadSuccess" >
        <div class="progress progress-container" (click)="analyseFile()" [ngClass]="{'clicked-progress-bar' : uploadSuccess}">
            <span class="loading-text" *ngIf="uploading">Document en cours de chargement</span>
            <span class="clicked-text" *ngIf="uploadSuccess">Analyser</span>
            <span class="fa fa-warning absolute-warning" title="erreur de chargement" *ngIf="loadingerror"></span>
            <span class="fa fa-repeat absolute-redo ml-1" title="Recharger un autre document" (click)="reinitializeInput()" *ngIf="loadingerror"></span>
            <div class="progress-bar progress-bar-element" role="progressbar" [style]="'width: '+percentDone+'%'"
                aria-valuenow="{{percentDone}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        </div>

    </div>
    <div class="rapid-access">
        <p class="rapid-access-title">ACCÈS RAPIDE</p>
        <div class="row">
            <div class="col-md-3 col-6 container-file-active mb-1 container-file" *ngIf="lastTreatedDocument" >
                <div class="title-file-active">
                    <p class="title-text-file-active">Dernier fichier traité</p>
                </div>
                <div class="details-file-active">
                    <span class="details-1-file-active">
                        TAILLE DU FICHIER
                    </span>
                    <br>
                    <span class="details-2-file-active">
                        {{ lastTreatedDocument.size }} MO
                    </span>
                </div>

                <img src="../../../assets/images/main-page/file-active.svg" class="img-access-rapid" [routerLink]="'/main/document/'+lastTreatedDocument.id">
            </div>
            <div class="col-md-3 col-6 mb-1 container-file">
                <img src="../../../assets/images/main-page/file.svg" class="img-access-rapid">
            </div>
            <div class="col-md-3 col-6 mb-1 container-file">
                <img src="../../../assets/images/main-page/file.svg" class="img-access-rapid">
            </div>
            <div class="col-md-3 col-6 mb-1 container-file">

            </div>
        </div>
    </div>
</div>