.settings-account{

    .welcome-text{
        padding-bottom: 15px;
        width: 100%;
        .welcome-text-content{
            text-align: left;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: rgba(0,14,43,1);
        }
    }
    margin: 0px 35px;
    height: 100%;
        
        .sub-title{
            margin-top: 20px;
            margin-bottom: 10px;
            p{
                text-align: left;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: rgba(41,42,44,1);
                border-bottom: 1px solid #9dbde2;
            }
        }
        .form-container{
            padding: 20px 10px;
            margin-top: 30px;
            width: 100%;
            background-color: white;
            
            .column-image{
                position: relative;
                
                @media screen and (min-width: 1280px) {
                    border-right: 1px solid #E8E8E8;
                    .column-image-absolute{
                        transform: translate(0%, 15%);
                        width: 70%;
                        margin : auto;
                        position: relative;
                        .file-photo{
                            opacity: 0;
                        }
                        .pen-edit-photo{
                            position: absolute;
                            top: 30px;
                            right: 20px;
                            cursor: pointer;
                            z-index: 1;
                            width: 11px;
                            &:hover{
                                opacity: 0.8;
                            }
                        }
                    }
                }
                @media screen and (max-width: 1279px) {
                    border-bottom: 1px solid #E8E8E8;
                }
            .user-photo{
                    border-radius: 50%;
                }
                .username{
                    white-space: nowrap;
                    line-height: 50px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    color: rgba(0,14,43,1);
                }
            .profile-done{
                position: relative;
                .progress-container{
                    width: 85%;
                    background-color: rgba(0,120,255,0.294);
                    .progress-bar-element{
                        background-image: linear-gradient(-90deg,#77B3F5, #0078FF);
                    }
                    height: 5px;
                    border-radius: 30px;
                    position: relative;
                }
                .percent{
                    position: absolute;
                    right: 0px;
                    top: -7px;
                    text-align: left;
                    font-family: Sofia Pro;
                    font-style: normal;
                    font-weight: lighter;
                    font-size: 11px;
                    color: rgba(140,162,193,1);
                    text-transform: capitalize;
                }
            }
            .image-container{
                position: relative;
                .fatimes{
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translate(calc(-50% - 25px), 0%);
                    color: rgb(223, 176, 21);
                    font-size: 20px;
                    cursor: pointer;
                    padding : 5px;
                    border-radius: 50%;
                    background-color: lightblue;
                }
                .fasave{
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translate(calc(25px - 50%), 0%);
                    color: rgba(0,120,255);
                    font-size: 20px;
                    cursor: pointer;
                    padding : 5px;
                    border-radius: 50%;
                    background-color: lightblue;
                }
            }
            }


        }
        .logo{
            margin: 70px 0px;
            
            img{
                height: 20px;
            }
        }
        @media screen and (max-width: 1280px) {
            .logo{
                margin: 50px 0px;
          }
          .title{
            margin-bottom: 15px;
        }
        .create-account-form-field {
            width: 100%;
            margin-bottom: 5px !important;
        }
        .create-account-form-country-field{
            margin-bottom: 5px;
        }
        .create-account-form-phone-field{
            margin-bottom: 5px;
        }
        }
        .title{
            margin-bottom: 30px;
        }
        .step4{
            img{
                width : 150px;
                margin-bottom: 15px;
            }
        }
        .copyright{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            color: rgba(139,140,142,1);
            position: fixed;
            bottom: 0;
            width: 66.66%;
            text-align: center;
        }
    .create-account-form-field {
        width: 100%;
        margin-bottom: 40px;
    }
    .create-account-form-country-field {
        width: 20%;
        margin-bottom: 40px;
    }
    .create-account-form-phone-field {
        width: 80%;
        margin-bottom: 40px;
    }
    .login-container{
        margin: 25px 0px;
        width: 100%;
        .btn-create-account{
        width: 100%;
        border-radius: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(255,255,255,1);
        box-shadow: 0px 0px 50px#b3b3b3;
        height: 40px;
    }
    }

    .have-account{
        font-size: 12px;
        span{
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        color: rgba(41,42,44,1);
        }

    }
}

