<div class="row settings-account">
    <div class="welcome-text border-bottom">
        <span class="welcome-text-content title">
            <span class="inscription-title">Profil utilisateur</span>
        </span>
    </div>
    <div class="form-container">
        <div class="form-container-content">
            <div class="row">
                <div class="col-md-3 text-center column-image">
                    <div class="column-image-absolute">
                        <input type="file"   #myInput (change)="upload($event.target.files)" accept="image/x-png,image/gif,image/jpeg" name="file-photo" id="file-photo" class="file-photo">
                        <label for="file-photo" class="pen-edit-photo">
                            <img src="../../assets/images/profile/draw.svg">
                        </label>
                        <div class="image-container">
                            <span class="fa fa-times fatimes" *ngIf="choosedImage" (click)="reinitializeInput()"></span>
                            <span class="fa fa-save fasave" *ngIf="choosedImage" (click)="saveImage()"></span>
                            <img [src]="user.profile.photo ? user.profile.photo :  '../assets/images/defaultuser.png'"
                                width="90%" class="user-photo" *ngIf="!choosedImageData">
                            <img [src]="choosedImageData"
                                width="90%" class="user-photo" *ngIf="choosedImageData">
                        </div>
                        <p class="username"> {{ user.firstName }} {{ user.lastName }}</p>
                        <div class="profile-done">
                            <div class="progress progress-container">
                                <div class="progress-bar progress-bar-element" role="progressbar" [style]="'width: 85%'"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            &nbsp;
                            <span class="percent">
                                85%
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-9" style="padding: 4px;">
                    <app-form-profile></app-form-profile>
                    <hr>
                    <app-form-infos></app-form-infos>
                    <hr>
                    <app-form-language></app-form-language>
                </div>
            </div>

        </div>
    </div>
</div>