.alert{
    position: fixed;
    right: 10px;
    top: 10px;
    box-shadow: 0px 0px 20px blue;
    z-index: 999999999999;
    width: auto;
    border-radius: 0px;
    font-family: Roboto !important;
    font-style: normal !important; 
    font-weight: normal !important;
    .alert-content{
        margin-right: 10px;
    }
    .close{
        cursor: pointer;
    }
}