<div class="form-rein-forgot-account">
<form [formGroup]="formReinitialize" (ngSubmit)="nextStep()">
    <div class="row">
        <div class="col-12 title">
            <p class="inscription-title mb-2">Réinitialiser votre mot de passe</p>
            <span class="inscription-title-detail">Saisissez votre nouveau mot de</span>
            <p class="inscription-title-detail mb-4">passe</p>
        </div>
        
        <div class="col-md-12">
            <mat-form-field class="create-account-form-field ">
                <mat-label>Nouveau mot de passe</mat-label>
                <input matInput type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && frein.password.errors }">
            </mat-form-field>
            <mat-hint *ngIf="submitted && frein.password.errors">
                <ng-container *ngFor="let error of error_messages.password">
                    <div class="error-message text-danger" *ngIf="frein.password.hasError(error.type)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </mat-hint>
        </div>
        <div class="col-md-12">
            <mat-form-field class="create-account-form-field ">
                <mat-label>Confirmer le mot de passe</mat-label>
                <input matInput type="password" formControlName="passwordVerif"
                    [ngClass]="{ 'is-invalid': submitted && frein.passwordVerif.errors }">
            </mat-form-field>
            <mat-hint *ngIf="submitted && frein.passwordVerif.errors">
                <ng-container *ngFor="let error of error_messages.passwordVerif">
                    <div class="error-message text-danger" *ngIf="frein.passwordVerif.hasError(error.type)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </mat-hint>
        </div>
    </div>
    <div class="login-container">
        <button class="btn btn-primary btn-create-account" [disabled]="loading"
            (click)="nextStep()"><span *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"></span>&nbsp;
            <span>Terminer</span>
        </button>
    </div>
    <div>
        <p><a *ngIf="step < 4" [routerLink]="['/login']">Connexion</a></p>
    </div>
    </form>
</div>