#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #0078FF;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.navbar{
    margin: 0px 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 35px;
}

.menu{
    margin-left: 30px;
    .menu-item{
        margin: 0px 25px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        color: rgba(41,42,44,1);
    }
}

.sidebar-heading{
    color: white !important;
    height: 250px;
}
.profile-details{
    position: relative;
    min-width: 160px;
    .name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,14,43,1);
    }
    .absolute-elem{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    }
    .expand_more{
        color: #0078FF;
        cursor: pointer;
    }
}
.profiledetailsexapnded{
    display: none;
}
.profile-details-exapnded{
    position: relative;
    min-width: 160px;
    color: white;
    .name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color:white;
    }
    .popupaction{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color:white;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            opacity: 0.7;
        }
    }
}
.logo-image{
    width: 30px;
    margin: 20px;
}

.welcome-text{
    margin: 0px 20px;
    padding-bottom: 15px;
    .welcome-text-content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: rgba(0,14,43,1);
        .username{
            font-weight: bold;
        }
    }
}

.defaultuser{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}
.space-menu{
    width: 100%;
    margin: 8px 0px;
}
.list-group-item{
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
    border: none;
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 5px;
    .icon{
        width: 13px;
        margin-left: 20px;
    }
    &.active{
        margin-left: 0px;
        border-left: 5px solid white;
    }
    .text-item{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: rgba(255,255,255,1);
        margin-left: 20px;
    }
    
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
 
}
@media (max-width: 991px) {
 .profiledetailsexapnded{
      display: block;
  }
}

.container-bars{
    display: inline-block;
    cursor: pointer;
    color: #0078FF;
}
.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #0078FF;
    margin: 8px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .popupaction{
        display: block;
        margin: 5px 10px;
    }
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #fff;
    color: #0078FF;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top : 66%;
    right: 0%;
    margin-left: -80px;
    box-shadow:  0px 0px 50px#b3b3b3;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 87%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
  }
  .first-nav-item{
      border-left: 1px solid #EEF4FB;
      padding-left: 20px;
  }

  .nav-content{
    padding-bottom: 20px;
    width: 100%;
    display: flex;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  

  .d-flex-centered{
    display: flex;
    justify-content: center;
  }