<div class="row forgot-account">
    <div class="col-12 col-md-4 column-left">
        <div class="text-representative-container">
            <p class="text-representative">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="img-representative-container">
            <img class="img-representative" src="../../../assets/images/create-account/image-right-create-account.svg">
        </div>
    </div>
    <div class="col-12 col-md-8 column-right">
        <div class="form-container row">
            <div class="col-md-1 col-12"></div>
            <div class="col-md-10 col-12">
                <div class="logo">
                    <img src="../../../assets/images/create-account/logo-datapex.svg">
                </div>
                <div class="row">
                    <div class="col-md-2 col-12"></div>
                    <div class="col-md-8 col-12 text-center">
                        <app-form-sms *ngIf="step == 1" (phoneNumberEmitter)="getIntroducedPhoneNumber($event)"></app-form-sms>
                        <app-form-code *ngIf="step == 2" (codeEmitter)="getIntroducedCode($event)" [phoneNumberIntroduced]="golobalTelephone"></app-form-code>
                        <app-form-reinitialize *ngIf="step == 3"  (doneEmitter)="getDoneModification($event)" [phoneNumberIntroduced]="golobalTelephone"></app-form-reinitialize>
                        <div class="row step4" *ngIf="step == 4">
                            <div class="col-12 text-center">
                                <img src="../../../assets/images/forgotpassword/treatementcompleted.svg">
                            </div>
                            <div class="col-12 title">
                                <p class="inscription-title-detail mb-4">Votre mot de passe a été changé avec succès!
                                </p>
                            </div>
                        </div>
                        <div class="login-container" *ngIf="step == 4">
                            <button class="btn btn-primary btn-create-account"
                            [routerLink]="['/users/login']"><span *ngIf="loading"
                                    class="spinner-border spinner-border-sm mr-1"></span>&nbsp;
                                <span>Connexion</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2 col-12"></div>
                </div>
            </div>
            <div class="col-md-1 col-12"></div>

        </div>
        <div class="copyright"><span>© Copyright Datapex 2020, All right reserved</span></div>
    </div>
</div>