.document-page{
    margin: 0px 50px;
.welcome-text{
    padding-bottom: 15px;
    .welcome-text-content{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: rgba(0,14,43,1);
        .username{
            font-weight: bold;
        }
    }
}

.files{
    margin-bottom: 67px;
    .files-title{
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: rgba(98,98,98,1);
        text-transform: uppercase;
        white-space: nowrap;
        margin: 34px 0px 19px 0px;
    }
    .files-content{
        position: relative;
        .header-document{
            width: 100%;
            min-height: auto;
            p{
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                color: rgba(157,160,167,1);
                letter-spacing: 0.31px;
                text-transform: uppercase;
                text-align: center;
                margin: 15px;
            }
        }
        .content-document{
            width: 100%;
            background-color: white;
            border-radius: 30px;
            p{
                margin-top: -2.5px;
                text-align: left;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                color: rgba(0,0,0,1);
                text-align: center;
                margin: 15px;
            }
        }
    }
}
.rapid-access{
    margin: 20px 0px;
    .rapid-access-title{
        text-align: left;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: rgba(98,98,98,1);
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 76px
    }
    .container-file-active{
        
        position: relative;
        .title-file-active{
            &.title-file-active1{
                left: 0%;
            }
            &.title-file-active2{
                left: 50%;
                transform: translate(-50%, 0%);
            }
            &.title-file-active3{
                right: 0%;
            }
            position: absolute;
            top: 50%;
            width: 227px;
            height: 155px;
            background: linear-gradient(45deg, #0078FF, #67A9F4);
            border-radius: 30px;
            max-width: 95%;
            .title-text-file-active{
                line-height: 24px;
                text-align: left;
                font-family: Roboto;
                position: absolute;
                font-style: normal;
                font-weight: bold;
                left: 50%;
                font-size: 12px;
                color: white;
                width: 80%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                top: 50%;
            }
        }

        .details-file-active{
            position: absolute;
            bottom: 10%;
            left: 14%;
            .details-1-file-active{
                white-space: nowrap;
                line-height: 10px;
                text-align: left;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                color: rgba(255,255,255,1);
                text-transform: uppercase;
            }
            .details-2-file-active{
                white-space: nowrap;
                line-height: 10px;
                text-align: left;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 8px;
                color: rgba(132,186,245,1);
                text-transform: uppercase;
            }
        }
    }

    .container-file{
        cursor: pointer;
        &:hover{
            opacity: 0.5;
        }
    }
    .img-access-rapid{
        max-width: 100%;
        width: 227px;
    }
}

.progress-container{
    &.clicked-progress-bar{
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
    .progress-bar-element{
        background-image: linear-gradient(-90deg,#77B3F5, #0078FF);
    }
    height: 50px;
    border-radius: 30px;
    position: relative;
    .loading-text{
        color: white;
        position: absolute;
        top: 50%;
        left: 20px;
    }
    .clicked-text{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .absolute-warning{
        color: red;
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0px, -50%);
    }

    .absolute-redo{
        color: red;
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(0px, -50%);
        cursor: pointer;
    }
}
}