<div class="row login-account">
    <div class="col-12 col-md-4 column-left">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="logo">
                    <img src="../../../assets/images/create-account/logo-datapex.svg">
                </div>
                <div class="title">
                    <p class="login-title">Connecte toi</p>
                </div>
                <div class="form-container ">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="login-account-form-field ">
                                    <mat-label>Nom d'utilisateur</mat-label>
                                    <input matInput type="text" formControlName="username" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                </mat-form-field>
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="login-account-form-field mb-0">
                                    <mat-label>Entrer le mot de passe</mat-label>
                                    <input matInput type="text" formControlName="password" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                </mat-form-field>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <p class="pull-rigth font-weight-bold text-right"><a href="#">Mot de passe oublié ?</a></p>
                        </div>
                        <div class="login-container">
                            <button class="btn btn-primary btn-create-account" [disabled]="loading"><span
                                    *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                &nbsp;Connexion</button>
                        </div>
                    </form>
                    <div>
                        <p class="have-account"><span>Besoin d’un compte datapex ? &nbsp;</span> <a
                                [routerLink]="['/create-account']">Crée un compte</a></p>
                    </div>
                </div>
                <div class="copyright"><span>© Copyright Datapex 2020, All right reserved</span></div>
            </div>
            <div class="col-1"></div>
        </div>

    </div>
    <div class="col-12 col-md-8 column-right">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="text-representative-container">
                    <p class="text-representative">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="image-elem">
            <img class="pricipal-image" src="../../../assets/images/login-page/image-principale.svg">
            <img class="image-dots dots-top" src="../../../assets/images/login-page/image-dots.svg">
            <img class="image-dots dots-bottom" src="../../../assets/images/login-page/image-dots.svg">
        </div>
    </div>
</div>