<div class="row" class="infos-section-settings">
    <div class="col-12">
        <div class="title">
            <span class="text"> Information utilisateur </span>&nbsp;
            <img src="../../../assets/images/profile/draw.svg" class="edit-pen">
        </div>
    </div>
    <div class="col-12 displayed-data">
        <div class="row">
            <div class="col-md-6">
                <span class="label-data">Adresse mail</span>
                <span class="value-data">{{ user.email }}</span>
            </div>
            <div class="col-md-6">
                <span class="label-data">Phone number</span>
                <span class="value-data-blue">{{ user.profile.phone }}</span>
            </div>
        </div>
    </div>
</div>