.infos-section-settings{
    padding: 10px 0px 10px 20px;
    .title{
        display: flex;
        justify-content: left;
        .text{
            text-align: left;
            font-family: Roboto;
            font-style: normal;
            font-weight: lighter;
            font-size: 12px;
            color: rgba(139,140,142,1);
        }
        .edit-pen{
            margin-left: 10px;
            cursor: pointer;
            width: 11px;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .displayed-data{
        margin-top: 15px;
        .label-data{
            text-align: left;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: rgba(139,140,142,1);
            margin-right: 10px;
        }
        .value-data{
            text-align: left;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: rgba(0,14,43,1);
        }
        .value-data-blue{
            text-align: left;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            color: rgba(0,120,255,1);
        }
    }

    form{
        padding-top: 10px;
        .login-container{
            margin: 25px 0px;
            width: 100%;
            .btn-create-account{
            width: 40%;
            border-radius: 0px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: rgba(255,255,255,1);
            box-shadow: 0px 0px 50px#b3b3b3;
            height: 40px;
            padding: 10px;
            margin-right: auto;
        }
            .btn-cancel-account{
            width: 40%;
            border-radius: 0px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color:#0078FF;
            box-shadow: 0px 0px 50px#b3b3b3;
            height: 40px;
            padding: 10px;
            margin-left: auto;
        }
        }
        .create-account-form-field {
            width: 100%;
        }
        .create-account-form-country-field {
            width: 20%;
        }
        .create-account-form-phone-field {
            width: 80%;
        }
    }
}